*{
margin: 0;
padding: 0;
}


.header{
border : 2px solid black;
width : 99%;
height: 100px;
display: flex;
margin:5px;
}
.heading{
width: 60%;
height: 50px;
margin-left : 10px;
margin-top: 5px;
}
.addbutton{
width: 30%;
height: 50px;
}

button{
width: 70px;
height: 45px;
margin-left: 400px;
margin-top: 5px;
}

.main{
height: 550px;
width: 99%;
border: 2px solid black;
margin: 5px;
display: flex;
flex-wrap: wrap;
gap: 15px;

}

.footer{
width:99%;
height: 50px;
text-align: center;
}

#myDialog{
border: 0px;
border-radius: 16px;
width:80%;
padding:2rem;
background:#ffffff;
margin: auto;
}

